= form_for discussion do |f|
  = f.text_field :question, class: 'input-xxlarge', placeholder: 'Present a question to start a discussion.'
  = f.submit 'Start Discussion', class: "btn btn-info btn-large"