%div#tabs-2.ui-tabs-panel.ui-widget-content.ui-corner-bottom.ui-tabs-hide
  %ul#display
    - @schulze_solutions.each_with_index do |solution, index|
      %li.ui-state-default{id: solution.id}
        ="#{index+1}."
        = solution.text