%h1 My discussions

- if current_user.discussions.any?
  %h3 Discussions I started
  %ul
    - @discussions.each do |discussion|
      %li= link_to discussion.question, discussion
= render "form", :discussion => @discussion



- if current_user.user_discussions.any?
  %h3 Discussions I am participating in
  %ul
    - @user_discussions.each do |user_discussion|
      %li= link_to user_discussion.discussion.question, user_discussion.discussion
