%h1= @discussion.question

= render 'solutions/form' unless @discussion.voted_on?
= render 'tabs'

%p.discussions-intro
  Share this link with others to invite them to the discussion:
  = link_to discussion_url(@discussion), discussion_url(@discussion)
