%div
  %span.votableyet{style: "display:#{@new_solution_style}"}
  - @appendables.each do |solution|
    %li.ui-state-default.new_addition{id: solution.id}
      %i.icon-th
      = solution.text
  %ul#display
    - @results.each_with_index do |solution, index|
      %li.results{id: solution.id}
        ="#{index+1}."
        = solution.text